<div data-element="mainContainer" id="mainContainer" style="overflow-y: auto">
    <style is="custom-style">
        paper-scroll-header-panel {
            @apply(--layout-fit);
            @apply(--layout-vertical);
            @apply(--paper-font-common-base);
            margin-top: 50px;
        }
        iron-list {
         --iron-list-items-container: {
            margin : 0px 5px 0px 5px;
        };
            background-color: var(--paper-grey-200, #eee);
            padding-bottom: 16px;
        }


        .item {
          @apply(--layout);
          background-color: #ddd;
          position: relative;
          width: 300px;
          height: 300px;
          margin: 8px;
        }

        .pad {
            padding: 0 16px;
            @apply(--layout-flex);
            @apply(--layout-vertical);
        }

        .primary {
            font-size: 16px;
            font-weight: bold;
        }
        .secondary {
            font-size: 14px;
        }
        .dim {
            color: gray;
        }

        .item-card-header {
            @apply --paper-font-headline;
        }
        .item-card-name { color: var(--paper-grey-600); margin: 10px 0; }
        .item-card{
            width:100%;
            background-color:#727280;
        }
        .card-content{
           background-color:#fff;
        }

        .card-actions{
            background-color:#fff;
            text-align: right;
            height: 54px;
            padding-top: 10px;
        }

        paper-card{
            --paper-card-header-color:#fff;
        }

        paper-button.indigo {
            background-color: var(--paper-indigo-500);
            color: white;
            --paper-button-raised-keyboard-focus: {
              background-color: var(--paper-pink-a200) !important;
              color: white !important;
            };
          }



    </style>
    <app-toolbar>
        <div main-title>Drive title</div>
    </app-toolbar>

    <iron-list as="item" data-element="list" scroll-target="document" grid>
        <template>
            <div>
                <div class="item">
                    <paper-card class="item-card" heading="[[item.name]]" image="/static/images/transparent.png">
                        <div class="card-content">
                            <div class="item-card-name">[[item.cif]]</div>
                        </div>
                        <div class="card-actions">
                            <paper-button raised class="indigo">[[item.country]]</paper-button>
                        </div>
                    </paper-card>
                </div>
            </div>

        </template>
    </iron-list>
</div>